doctype html

html
  title Vitbet
  link(rel='stylesheet', href='/jquery-ui.min.css')
  link(rel='stylesheet', href='/jquery-ui.structure.min.css')
  link(rel='stylesheet', href='/style.css')
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src='/jquery-ui.min.js')
  script(src='client.js')

  meta(property='og:title', content='VitBet' )
  meta(property='og:description', content='Στοιχημάτισε στο πόσο θα γράψει ο Βιτάλης στις Πανελλήνιες! Μάντεψε πόσα μόρια (+- 500) θα βγάλει και κέρδισε λαχταριστά Bitcoin!')
  meta(property='og:image', content='http://vitbet.co/logo.png')
  w



body
  header
    hgroup
      h1
        a#vitchip(href='/')
          .border
            .image
        span Vitbet
      h2 Στοιχημάτισε στο πόσο θα γράψει ο Βιτάλης στις Πανελλήνιες

