include ./head

hgroup
  h1
    #vitchip
      .border
        .image
    span Vitbet
  h2 Στοιχημάτησε στο πόσο θα γράψει ο Βιτάλης στις Πανελλήνιες

#axis

button#bet Στοιχημάτησε με Bitcoin

include ./footer
