include ./head

#rules
  h3 Κανόνες

  p.important Αυτό το παιχνίδι είναι πάνω από όλα μια πλάκα. Μην παίζετε σημαντικά ποσά, δεν αναλαμβάνω καμία ευθύνη αν κάτι πάει στραβά και τα χρήματα σας χαθούν/κλαπούν. <a href='https://www.youtube.com/watch?v=pZ8r-Zu0KqA'>Χίλια δε θα φτάσουν!</a>

  p Το παιχνίδι αυτό αφορά στοιχήματα για το πόσα μόρια θα πιάσει ο <a href='https://www.facebook.com/vitsalis'>Βιτάλης</a> στις πανελλήνιες.

  p Τα στοιχήματα θα πληρωθούν το αργότερο στις <em>31 Αυγούστου 2015</em>, θα προσπαθήσω όμως να τα πληρώσω με το που ανακοινωθούν τα αποτελέσματα των Πανελληνίων. Τα στοιχήματα θα πληρωθούν στην διεύθυνση της πρώτης συναλλαγής (bitcoin transaction) κάθε στοιχήματος.

  p Αν ο Βιτάλης γράψει λιγότερο από 10000 μόρια, τότε όλα τα χρήματα θα πάνε σε αυτόν για παρηγοριά. Σε διαφορετική περίπτωση, <em>όλα τα στοιχήματα που θα πέσουν μεταξύ 500 μορίων από τα μόρια που θα πιάσει ο Βιτάλης θα κερδίσουν από κάτι</em>. Τα στοιχήματα θα κερδίζουν τετραγωνικά περισσότερα χρήματα όσο πιο κοντά βρίσκονται στον πραγματικό αριθμό των μορίων και θα είναι φυσικά ζυγισμένα με τα χρήματα που πληρώθηκαν για το στοίχημα. Συγκεκριμένα τα στοιχήματα θα πληρωθούν με τον παρακάτω τρόπο:

  p Έστω (Ai, Bi) το i-οστό στοίχημα για το ποσό των Ai, που προβλέπει πως ο Βιτάλης θα γράψει Bi μόρια. Έστω S το άθροισμα των Αi για όλα τα i. Το S είναι το συνολικό ποσό που εισπράχθηκε άρα και το συνολικό ποσό που θα μοιραστεί στα στοιχήματα που κέρδισαν. Έστω Μ τα μόρια που έγραψε τελικά ο Βιτάλης. Θα υπολογίσουμε μια τιμή Hi για κάθε στοίχημα ως εξής: Αν η διαφορά του Bi με το Μ είναι μεγαλύτερη από 500, τότε Hi = 0. Αλλιώς Ηi = (500 - (Μ - Bi))^2 * Αi. Έστω ΣΗ το άθροισμα των Ηi για όλα τα i. Έστω Wi το ποσό που θα πληρωθεί στο κάθε στοίχημα. Αν η διαφορά του Wi με το Μ είναι μεγαλύτερη από 500, τότε Wi = 0 και το στοίχημα δεν κερδίζει τίποτα αφού δεν έπεσε μεταξύ 500 μορίων του τελικού βαθμού. Αλλιώς, Wi = S * Ηi/ΣΗ.

  h3 Καλή επιτυχία Βιτάλη!

p#easteregg <a href='/moria.wav'>Δυσκολεύεσαι να πιάσεις μόρια στις πανελλήνιες;</a>

include ./footer
