@import url(http://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,700,400italic&subset=latin,greek);

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

h1 {
  font-family: 'Play', sans-serif;
  height: 100px;

  span {
    margin-left: 20px;
    display: inline-block;
    height: 100px;
    line-height: 100px;

    position: relative;
    bottom: 20px;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

hgroup {
  text-align: center;
  margin: 50px 0;
  
  h1 {
    font-size: 80px;
    margin: 0;
  }
  h2 {
    font-size: 20px;
  }
}

#vitchip, #vitchip .border, #vitchip .border .image {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

#vitchip {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  border: 10px dotted #FF9D00;
  display: inline-block;
}

#vitchip .border {
  border: 10px solid black;
  background: none;
  width: 80px;
  height: 80px;
  border-radius: 80px;

  position: relative;
  bottom: 10px;
  right: 10px;
  z-index: -10;
}

#vitchip .border .image {
  width: 80px;
  height: 80px;
  border-radius: 80px;

  background: url(/vitalis.png) no-repeat;
  background-size: 100%;
  background-size: 80px auto;
}

button#bet {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 20px;
  
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ); 

  outline: none;

  &:active {
    outline: none;
    border: 2px solid #333;
  }

  img.icon {
    width: 40px;
    height: 40px;
    float: left;

  }

  .text {
    #bet-info {
      font-size: 12px;
    }
  }
}

#axis {
  height: 2px;
  background: #333;
  width: 960px;
  margin: 80px auto;
  position: relative;
}

#axis div {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 12px;

  &.step-label {
    padding-top: 10px;
    padding-left: 2px;
    border-left: 1px dotted #333;
  }

  &#slider {
    padding-top: 30px;
    padding-left: 2px;
    border-left: 2px solid #FF9D00;
    z-index: 2;

    #value {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      background: white;
      width: 80px;
      position: relative;
      right: 40px;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      border: 2px solid #FF9D00;
      border-radius: 5px;
      overflow: visible;
      color: #E36A00;

    }

    &.not-used:hover #instruction{
      display: block;
    }

    #instruction {
      display: none;
      z-index: 10;
      color: #979993;
      position: inline-block;
      font-style: italic;
      font-size: 11px;
    }


  }
}

#bet-at-label {
  color: #E36A00;
}

div#bet {
  width: 600px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 3px 3px 5px black;

  #img-container {
    display: inline-block;
    width: 200px;
    text-align: center;
    img {
      width: 200px;
    }
    .address {
      font-size: 9px;
    }
  }

  #info {
    vertical-align: center;
    width: 400px;
    height: 200px;
    height: 100%;
    float: right;

    #at {
      display: inline-block;
      width: 200px;
      height: 130px;
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      .value {
        font-size: 60px;
      }
    }

    #amount {
      display: inline-block;
      width: 200px;
      height: 130px;
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      .value {
        font-size: 60px;
      }
    }

    #details {
      margin-top: 20px;
      font-size: 9px;
      em {
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}

#rules {
  width: 960px;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  .important {
    text-align: center;
    color: red;
  }
}

#easteregg {
  margin-top: 100px;
  font-size: 8px;
  text-align: center;
}

#read-rules {
  text-align: center;
  font-size: 14px;
}

.center {
  margin-top: 100px;
  font-size: 12px;
  text-align: center;
}
